
core/app_store.yml

core/hooks/pick_environment.pyc

core/install_location.yml

*.pyc

core/shotgun.yml

core/pipeline_configuration.yml

core/interpreter_Windows.cfg

core/interpreter_Linux.cfg

core/interpreter_Darwin.cfg
